<aside>
    <form>
        <fieldset>
            <legend>Filter</legend>
            <label for="loction">location</label>
            <input type="text" id="location" name="location">
            <br>
            <label for="industry">industry</label>
            <select name="industry">
                <option value="blockchain"></option>
                <option value="fintech"></option>
                <option value="IT"></option>
            </select>
            <br>
            <label for="seniority">seniority</label>
            <select name="seniority">
                <option value="entry">entry</option>
                <option value="mid">mid</option>
                <option value="senior">senior</option>
            </select>
            <br>
            <label for="size">size</label>
            <select name="size">
                <option value="small">small</option>
                <option value="medium">medium</option>
                <option value="large">large</option>
            </select>
            <br>
            <button>apply all</button>
        </fieldset>
    </form>

</aside>