section{
    margin-left: 3%;
    background-color: #1e1e1e;
    color: aliceblue;
}
article{
    margin: 2%;
    padding: 2%;
    background-color: #2e2f2f;
    border-radius: 3%;
}
button{
    background-color: #4CAF50;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

button:hover {
    background-color: #45a049; 
    transform: scale(1.05);
}
img{
    border-radius: 5%;
    width: 15%;
    height: 15%;
}